<div class="modal-header">
    <h3 class="modal-title" ng-bind="labels.History"></h3>
</div>
<div class="modal-body">
    <table ng-table="list" show-filter="true" class="table table-condensed master-table">
        <tr ng-cloak ng-repeat="item in $data" ng-click="changeSelection(item)" ng-class="{'active': item.$selected}">
            <td data-title="labels.supplier" filter="{ 'FirmName': 'text' }" sortable="'FirmName'">
                {{ item.FirmName }}
            </td>
            <td data-title="labels.recentglaccounts" filter="{ 'GLAccountCodes': 'text' }" sortable="'GLAccountCodes'">
                <div data-toggle="tooltip" data-placement="right" uib-tooltip="{{ item.TranslatedGLAccountDescription }}" ng-cloak ng-mouseover="translate(item)">
                    {{ item.GLAccountCodes }}
                </div>
            </td>
            <td class="text-right" data-title="labels.docnbr" filter="{ 'DocNbr': 'text' }" sortable="'DocNbr'">
                <a href="" ng-click="openEntry(item)" ng-bind="item.DocNbr"></a>
            </td>
            <td ng-if="!isPH" data-title="labels.doctype" filter="{ 'DocType': 'text' }" sortable="'DocType'">
                {{ item.DocType }}
            </td>
            <td ng-if="!isPH" data-title="labels.company" filter="{ 'Company': 'text' }" sortable="'Company'">
                {{ item.Company }}
            </td>
            <td ng-if="!isPH" data-title="labels.sector" filter="{ 'Sector': 'text' }" sortable="'Sector'">
                {{ item.Sector }}
            </td>            
            <td ng-if="!isPH" class="" data-title="labels.yourref" filter="{ 'YourRef': 'text' }" sortable="'YourRef'">
                {{ item.YourRef }}
            </td>
            <td data-title="labels.date" filter="{ 'sInvoiceDate': 'text' }" sortable="'InvoiceDate'">
                {{ item.sInvoiceDate }}
            </td>
            <td ng-if="!isPH" data-title="labels.currency" filter="{ 'ISOCode': 'text' }" sortable="'ISOCode'">
                {{ item.ISOCode }}
            </td>
            <td ng-if="!isPH" class="text-right" data-title="labels.curramount" filter="{ 'Amount': 'text' }" sortable="'Amount'">
                {{ item.Amount | number: 2 }}
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dismiss()" ng-disabled="performingAction"
            ng-click="send()" data-toggle="tooltip" data-placement="top" uib-tooltip="{{labels.close}}">
        <span class="fa fa-times"></span>
    </button>
</div>