.hideField {
  display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn {
  border-radius: 3px;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb !important;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: #212121 !important;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0 !important;
  background-position: center center;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0 !important;
  border-color: #dbdbdb !important;
}
.btn-default.disabled,
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0 !important;
  background-image: none;
}
.btn-primary {
  background-image: -webkit-linear-gradient(top, #ea922e 0%, #ea922e 100%);
  background-image: -o-linear-gradient(top, #ea922e 0%, #ea922e 100%);
  background-image: linear-gradient(to bottom, #ea922e 0%, #ea922e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea922e', endColorstr='#ffea922e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #be6e13 !important;
  background-color: #ea922e !important;
  text-shadow: none;
  border-color: #e78617;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #c77314 !important;
  background-position: center center;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #c77314 !important;
  border-color: #be6e13 !important;
}
.btn-primary.disabled,
.btn-primary:disabled,
.btn-primary[disabled] {
  background-color: #c77314 !important;
  background-image: none;
}
.btn-success {
  background-image: -webkit-linear-gradient(top, #8bc34a 0%, #8bc34a 100%);
  background-image: -o-linear-gradient(top, #8bc34a 0%, #8bc34a 100%);
  background-image: linear-gradient(to bottom, #8bc34a 0%, #8bc34a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8bc34a', endColorstr='#ff8bc34a', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #669431 !important;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #6c9c34 !important;
  background-position: center center;
}
.btn-success:active,
.btn-success.active {
  background-color: #6c9c34 !important;
  border-color: #669431 !important;
}
.btn-success.disabled,
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #6c9c34 !important;
  background-image: none;
}
.btn-info {
  background-image: -webkit-linear-gradient(top, #B3E5FC 0%, #B3E5FC 100%);
  background-image: -o-linear-gradient(top, #B3E5FC 0%, #B3E5FC 100%);
  background-image: linear-gradient(to bottom, #B3E5FC 0%, #B3E5FC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb3e5fc', endColorstr='#ffb3e5fc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #6ecef9 !important;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #78d1fa !important;
  background-position: center center;
}
.btn-info:active,
.btn-info.active {
  background-color: #78d1fa !important;
  border-color: #6ecef9 !important;
}
.btn-info.disabled,
.btn-info:disabled,
.btn-info[disabled] {
  background-color: #78d1fa !important;
  background-image: none;
}
.btn-warning {
  background-color: #ff5252 !important;
  border-color: #ff1744 !important;
  text-shadow: none;
}
.btn-danger {
  background-image: -webkit-linear-gradient(top, #B71C1C 0%, #B71C1C 100%);
  background-image: -o-linear-gradient(top, #B71C1C 0%, #B71C1C 100%);
  background-image: linear-gradient(to bottom, #B71C1C 0%, #B71C1C 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb71c1c', endColorstr='#ffb71c1c', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #791313 !important;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #821414 !important;
  background-position: center center;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #821414 !important;
  border-color: #791313 !important;
}
.btn-danger.disabled,
.btn-danger:disabled,
.btn-danger[disabled] {
  background-color: #821414 !important;
  background-image: none;
}
.btn-accent {
  background-color: #448AFF !important;
  text-shadow: none;
  border-color: #2a7aff;
  color: #fff;
}
.button-grouping {
  margin-right: 10px;
}
.btn-container {
  display: inline-block;
}
.secondary-btn {
  padding-top: 0 !important;
  padding-right: 25px;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.double-underline {
  border-bottom: 3px double;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000;
  background-color: #e9e9e9;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000;
  background-color: #e9e9e9;
}
.nav > li {
  float: left;
}
.navbar {
  min-height: 70px;
}
.navbar-nav > li > a {
  line-height: 40px;
  text-transform: uppercase;
}
.navbar-default .navbar-text.navbar-right {
  margin-top: 25px;
  font-size: small;
}
@media (min-width: 768px) {
  .navbar-form .form-control {
    width: 200px;
  }
}
.navbar-fixed-top .navbar-collapse {
  max-height: 1000px !important;
}
.navbar-default {
  color: #E3F2FD !important;
  background-color: #032437;
  font-size: 14px!important;
  font-weight: normal!important;
  border-bottom: none;
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ea922e;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-default .navbar-text.navbar-right {
  margin-right: 15px;
  color: #ffffff !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a {
  color: #ea922e !important;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
@media (max-width: 768px) {
  .navbar-nav .open .dropdown-menu {
    background-color: #fff !important;
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000 !important;
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000 !important;
  }
}
@media (max-width: 768px) {
  .navbar-toggle {
    display: block!important;
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .navbar-collapse.collapse {
    display: none !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-color: #032437 !important;
  }
  .navbar-default .navbar-form {
    border-color: #032437 !important;
  }
  .navbar-collapse {
    overflow-x: visible !important;
    max-height: 1000px;
  }
  .navbar-collapse.in {
    overflow-y: visible !important;
    margin-top: 20px;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-collapse .navbar-text:last-child {
    margin-right: 15px;
  }
  .container-fluid > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000;
    background-color: #e9e9e9;
  }
}
.icon-user {
  padding-right: 10px;
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a {
  color: #ea922e;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
  /*-webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.60);
-moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.60);
box-shadow:         0px 1px 8px 0px rgba(50, 50, 50, 0.60);*/
  -webkit-box-shadow: 0px 0px 10px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 10px 0 rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 10px 0 rgba(50, 50, 50, 0.3);
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #616161;
    background-image: -webkit-linear-gradient(top, #ea922e 0%, #e78617 100%);
    background-image: -o-linear-gradient(top, #ea922e 0%, #e78617 100%);
    background-image: linear-gradient(to bottom, #ea922e 0%, #e78617 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea922e', endColorstr='#ffe78617', GradientType=0);
  }
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
}
.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #ea922e 0%, #d07815 100%);
  background-image: -o-linear-gradient(top, #ea922e 0%, #d07815 100%);
  background-image: linear-gradient(to bottom, #ea922e 0%, #d07815 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea922e', endColorstr='#ffd07815', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #8bc34a 0%, #71a436 100%);
  background-image: -o-linear-gradient(top, #8bc34a 0%, #71a436 100%);
  background-image: linear-gradient(to bottom, #8bc34a 0%, #71a436 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8bc34a', endColorstr='#ff71a436', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #B3E5FC 0%, #82d4fa 100%);
  background-image: -o-linear-gradient(top, #B3E5FC 0%, #82d4fa 100%);
  background-image: linear-gradient(to bottom, #B3E5FC 0%, #82d4fa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb3e5fc', endColorstr='#ff82d4fa', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #FF5252 0%, #ff1f1f 100%);
  background-image: -o-linear-gradient(top, #FF5252 0%, #ff1f1f 100%);
  background-image: linear-gradient(to bottom, #FF5252 0%, #ff1f1f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5252', endColorstr='#ffff1f1f', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #B71C1C 0%, #8b1515 100%);
  background-image: -o-linear-gradient(top, #B71C1C 0%, #8b1515 100%);
  background-image: linear-gradient(to bottom, #B71C1C 0%, #8b1515 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb71c1c', endColorstr='#ff8b1515', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #d07815;
  background-image: -webkit-linear-gradient(top, #ea922e 0%, #dc7f16 100%);
  background-image: -o-linear-gradient(top, #ea922e 0%, #dc7f16 100%);
  background-image: linear-gradient(to bottom, #ea922e 0%, #dc7f16 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea922e', endColorstr='#ffdc7f16', GradientType=0);
  border-color: #dc7f16;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.page-subtitle {
  float: left;
  font-size: 18px;
  padding-top: 15px !important;
}
.col-pull-left {
  float: left;
  padding-top: 10px !important;
}
.input-padding {
  padding-right: 5px !important;
}
.page-divider {
  padding-top: 20px;
}
.hr-divider {
  padding-top: 10px;
  padding-bottom: 12px;
  border-top: 1px solid #f9f9f9;
}
.well-divider {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
}
.form-group {
  margin-bottom: 10px;
}
.datepicker-disable {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.form-control:focus {
  border-color: #ea922e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 146, 46, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(234, 146, 46, 0.6);
}
* html .panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-primary {
  border-color: #e78617;
}
.panel-primary > .panel-heading {
  border-color: #e78617;
}
.panel-primary > .panel-body {
  background-color: transparent;
  padding-top: 30px;
}
.panel-default > .panel-heading {
  font-size: 18px;
  text-transform: uppercase;
}
.panel .panel-heading h4 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.panel-wrapper {
  padding-top: 32px;
}
.negative-margin {
  margin: 0 -15px;
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #ea922e 0%, #ea922e 100%);
  background-image: -o-linear-gradient(top, #ea922e 0%, #ea922e 100%);
  background-image: linear-gradient(to bottom, #ea922e 0%, #ea922e 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffea922e', endColorstr='#ffea922e', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #dff0d8 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #dff0d8 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #dff0d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffdff0d8', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #d9edf7 100%);
  background-image: -o-linear-gradient(top, #d9edf7 0%, #d9edf7 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #d9edf7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffd9edf7', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #fcf8e3 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #fcf8e3 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #fcf8e3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffcf8e3', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #f2dede 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #f2dede 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #f2dede 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#fff2dede', GradientType=0);
}
.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}
a:hover {
  text-decoration: none;
}
.well {
  background-color: transparent;
  border-color: #dcdcdc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav-tabs {
  border-bottom: 2px solid #ea922e;
}
.nav-tabs > li > a {
  color: #434343;
  background-color: #fff;
  border: 1px solid #dadada;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  padding: 8px 15px;
}
.nav-tabs > li > a:hover {
  color: #434343;
  background-color: #e9e9e9;
  border: 1px solid #dadada;
  border-bottom: 0;
}
/* active tab color */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #ea922e;
  border-color: #ea922e;
  color: #fff;
}
.page-title {
  padding: 60px 15px 10px;
}
.page-title h1 {
  font-size: 24px !important;
  color: #616161;
  font-weight: bold !important;
}
.gradient-primary {
  border-bottom: 1px solid #f9f9f9;
}
.page-header-container {
  position: fixed;
  top: 70px;
  z-index: 150;
  width: 100%;
  background-color: #fff;
}
.page-header {
  padding: 10px 15px;
  border-bottom: none;
  margin: 0;
}
.page-header h1 {
  font-size: 24px !important;
  font-weight: 700;
  margin: 0;
}
.row-page-title {
  background-color: #f6f6f6;
  border-bottom: solid 1px #f9f9f9;
}
.breadcrumbs {
  font-size: 12px;
}
.exe-breadcrumbs {
  font-size: 16px;
  font-weight: bold;
}
.exe-breadcrumbs a {
  color: #333;
}
.exe-breadcrumbs a:hover {
  color: #032437;
  text-decoration: none;
}
.breadcrumbs-icon {
  margin: 0 4px;
}
.main-content {
  margin-top: 70px;
}
.input-text {
  font-weight: normal!important;
}
.input-field {
  margin-bottom: 10px;
}
label.required:after {
  content: " *";
  color: red;
}
label {
  font-weight: normal;
  margin-bottom: 2px;
}
.ui-select-match-text > span {
  padding-right: 10px;
}
.popover {
  position: fixed;
  max-width: 100%;
}
.popover .text-warning {
  color: #ffffff;
}
.popover-title {
  font-weight: bold;
}
.popover.ng-isolate-scope {
  left: 15px !important;
  top: 5px !important;
  max-width: 100%;
  position: fixed;
}
.popover.ng-isolate-scope .arrow {
  display: none;
}
@media screen and (min-height: 800px) {
  .popover.ng-isolate-scope img {
    height: 620px;
  }
}
@media screen and (min-height: 1000px) {
  .popover.ng-isolate-scope img {
    height: 820px;
  }
}
@media screen and (min-height: 1200px) {
  .popover.ng-isolate-scope img {
    height: 1020px;
  }
}
@media screen and (max-width: 1700px) {
  .popover.ng-isolate-scope table,
  .popover.ng-isolate-scope img {
    width: 700px;
  }
}
.no-border {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
}
.no-border .list-group-item {
  padding: 5px 0px;
  background-color: transparent;
  border: 0;
}
.text-orange {
  color: #FF9800;
}
.input-caption {
  font-size: 12px;
  color: #ea922e;
}
.label-warning {
  background-color: #FF9800;
}
#dashletGroupTab {
  margin-top: 10px;
  margin-bottom: 30px;
}
.btn-dashlet {
  margin-top: -7px;
}
.ul-dashlets {
  padding-left: 70px;
  padding-right: 100px;
}
.container-padded {
  margin-left: 15px;
  margin-right: 15px;
}
.text-primary {
  color: #032437;
}
.text-success {
  color: #8bc34a;
}
.text-warning {
  color: #FF5252;
}
.update-inprogress {
  color: #B71C1C;
}
.text-error {
  color: #B71C1C;
}
.text-open {
  color: #90CAF9;
}
#book-info tbody > tr > td,
#book-info tbody > tr > th,
#book-info tfoot > tr > td,
#book-info tfoot > tr > th,
#book-info thead > tr > td,
#book-info thead > tr > th {
  white-space: normal;
}
.sent-received {
  background-color: rgba(0, 162, 232, 0.4) !important;
}
.sent-exported {
  background-color: rgba(0, 129, 0, 0.4) !important;
}
.sent-inprogress {
  background-color: rgba(255, 255, 0, 0.4) !important;
}
.sent-status {
  background-color: rgba(129, 129, 0, 0.4) !important;
}
.sent-ready {
  background-color: rgba(255, 128, 2, 0.4) !important;
}
.sent-verified {
  background-color: rgba(0, 179, 89, 0.4) !important;
}
.modal-body {
  max-height: 500px;
  overflow-y: auto;
}
.wf-modal {
  position: relative;
  padding: 15px;
}
.wf-modal-header {
  font-size: 18px;
}
.dashlet-list {
  padding-top: 15px;
  padding-bottom: 15px;
}
.ta-toolbar {
  padding-bottom: 5px;
}
.form-control {
  height: 30px;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}
.input-group-btn:last-child > .btn {
  z-index: 2;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #ea922e !important;
}
/* Error Page*/
.jumbotron.vertical-center {
  margin-bottom: 0;
  background-color: #fff;
}
.jumbotron p {
  font-size: 18px !important;
  font-weight: normal !important;
}
.icon-spinner {
  color: #ea922e;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.wizard-row {
  height: 50px;
  padding-top: 10px;
  font-size: 1.5em;
}
.has-error .form-control {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}
.custom-pager {
  margin-top: -45px;
  background-color: #fff;
  height: 45px;
}
@media (max-width: 768px) {
  .custom-pager {
    margin-top: -75px;
  }
}
.d-content {
  overflow: visible !important;
}
div.number div {
  position: absolute;
  background: white;
  left: 0;
  top: 22px;
  cursor: text;
  padding: 0 15px;
  width: 100%;
}
div.number input {
  position: relative;
  padding-top: 4px;
}
div.number input:focus + div {
  display: none;
}
/* dl */
.dl-dt {
  text-align: left !important;
  width: auto !important;
}
.dl-dd {
  margin-left: 0 !important;
  white-space: nowrap;
  padding-right: 25px;
}
.popover {
  max-width: none;
  white-space: pre;
}
.ng-table-group-header {
  display: none;
}
body {
  background-image: url(/Assets/img/wizard-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.container {
  display: table;
  width: 100%;
}
.content {
  display: block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding-top: 55px;
}
.intro-text {
  text-align: center;
  margin-bottom: 30px;
}
.form-group {
  margin-bottom: 10px;
}
.form-group-max {
  margin-bottom: 20px;
}
.ask-icon {
  cursor: pointer;
  color: #ea922e;
}
.popover-content {
  color: #000;
}
.hr-divider {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nv-file-over {
  border: 1px #ea922e solid !important;
}
.wizard-btn {
  padding-left: 20px;
  padding-right: 20px;
}
.btn-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #dbdbdb !important;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
  color: #212121 !important;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #e0e0e0 !important;
  background-position: center center;
}
.btn-default:active,
.btn-default.active {
  background-color: #e0e0e0 !important;
  border-color: #dbdbdb !important;
}
.btn-default.disabled,
.btn-default:disabled,
.btn-default[disabled] {
  background-color: #e0e0e0 !important;
  background-image: none;
}
.ngduallist label {
  color: #fff;
}
.left-container,
.right-container {
  position: relative;
  margin-bottom: 20px;
}
#moveRightButton,
#moveLeftButton {
  position: absolute;
  right: 15px;
  top: 10px;
}
.list-group-item {
  color: #333;
}
.ngduallist .left-container .left-sub-container,
.ngduallist .right-container .right-sub-container {
  border: 0;
}
.ngduallist .input-group {
  margin-bottom: 5px;
}
