<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" ng-bind="labels.GlobalSplitPageNumber">
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-lg-6 col-sm-6">
            <label class="control-label">
                {{labels.GlobalPageNumber}}
            </label>
            <input type="text" class="form-control" ng-model="pageNumber" required ng-disabled="performingAction" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <div style="display:inline-block">
        <button class="btn table-save-btn" ng-click="split()" data-toggle="tooltip" data-placement="top" uib-tooltip="{{labels.ok}}">
            <i class="fa fa-check"></i>
        </button>
    </div>
    <div style="display:inline-block">
        <button class="btn btn-default" ng-click="cancel()" data-toggle="tooltip" data-placement="top" uib-tooltip="{{labels.close}}">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
